html,body{
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../img/background.png");
    background-size: cover;
 }

 .text-default  {
     color: #503d32;
 }

.background-default {
    background: #503d3d;
}
