html, body {
    width: 100%;
    height: 100%;
}

.navbar {
    background: linear-gradient(141deg, #1fc8db 0%, #1fc8db 51%, #2cb5e8 75%) !important;
}

.green-circle {
    width: 15px;               
    height: 15px;
    background: green;
    border-radius: 100%;
    margin-right: 5px;
}

.badge-input 
{
    border: none;
    width: 50px;
    color: #FFF !important;
    text-align: center;
    font-weight: bold;
    padding: 3px !important;
}

table tr td {
    vertical-align: middle !important;
}

button {
    transition: all 0.3s !important;
}
button:hover {
    color: #FFF;
    background: #1fc8db;
}